# This file contains all possible configuration settings, with sample 
# values, where appropriate. It  is used by the file2brl command-line 
# interface if no configuration file is given. It is also part of the 
# documentation.

outputFormat
	interpoint no
	emphasis all
	

translation
	compbrlTable en-us-comp8.ctb
	mathtextTable en-us-g2.ctb
	mathexprTable nemeth.ctb
	editTable nemeth_edit.ctb
	
literaryTextTable en-ueb-g2.ctb
cellsPerLine 40
linesPerPage 28
interpoint yes
printPages off
printPageNumberAt top
braillePages yes
braillePageNumberAt bottom
